/*comienzo pagina de contactos*/
.contenedor {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 1px;
    grid-template-areas:
      "main aside1"
      "main aside2";
  }
  
  .mainContactos {
    grid-area: main;
    background-color: $bgVeish;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
  
    section {
      text-align: center;
  
      h2 {
        color: $bgNegro;
        background-color: $bgRojo;
        border-radius: 10px;
      }
  
      p {
        font-size: 20px;
        color: $bgNegro;
      }
  
      .boton {
        margin-bottom: 20px;
        color: $bgblanco;
        background-color: $bgRojo;
        padding: 5px;
        border-radius: 10px;
  
        &:hover {
          background-color: $bgVeishFuerte;
          color: $bgNegro;
        }
      }
  
      label {
        text-align: center;
        color: $bgRojo;
        padding: 5px;
        font-size: 17px;
      }
    }
  }
  
  .aside1Contactos {
    grid-area: aside1;
    @include asideContactos;
  
    h2 {
      text-align: center;
      color: $bgNegro;
      background-color: $bgVeishMedio;
      border-radius: 10px;
  
    }
  
    p {
      text-align: center;
      font-size: 20px;
      color: $bgNegro;
    }
  
    table {
      border: solid #9e423b 2px;
    }
  }
  
  .aside2Contactos {
    @include asideContactos;
  
    h2 {
      text-align: center;
      color: $bgRojo;
    }
  
    h3 {
      @extend h2;
    }
  
    p {
      text-align: center;
      font-size: 18px;
    }
  }
  
  .h3Animacion {
    animation-name: aparece;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  
  @keyframes aparece {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }