/* mixin pagina de Productos*/
@mixin cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    .card{
        background-color:$bgblanco;
        color:$bgRojo;
        &:hover{
            transition: all 2s;
            transform:translate(-10px,-20px);
            background-color: $bgVeishMedio;
        } 
        flex: 1 1 calc(33.333% - 20px); 
        max-width: calc(33.333% - 110px);
        @media (max-width: 1140px) {
            flex: 1 1 calc(50% - 20px); 
            max-width: calc(40% - 20px);
        }
        @media (max-width: 600px) {
            flex: 1 1 100%;
            max-width: 60%;
        }
    }
}
/*mixin pagina de Nosotros*/
@mixin asideNosotros{
    background-color: $bgVeish;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
/*mixin pagina de Contactos*/
@mixin asideContactos{
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color:$bgVeish;
}
/*este mixin lo va a utilizar los parrafos de la pagina de Incio como tambien los parrafos de la pagina de "Nosotros"*/
@mixin parrafoInicio_Nosotros{
      margin-top: 20px;
      font-size: 20px;
      padding: 10px;
      background-color: $bgRojo;
      border-radius: 10px
}